
BurgerRestaurantManagement.DAL/obj/Debug/net8.0/BurgerRestaurantManagement.DAL.AssemblyInfo.cs
BurgerRestaurantManagement.DAL/obj/Debug/net8.0/BurgerRestaurantManagement.DAL.AssemblyInfoInputs.cache
BurgerRestaurantManagement.DAL/BurgerRestaurantManagement.DAL.csproj
BurgerRestaurantManagement.DAL/BurgerRestaurantManagement.DAL.csproj
BurgerRestaurantManagement.DAL/BurgerRestaurantManagement.DAL.csproj
